@(form: Form[Item])(implicit messages: Messages)

@main("Edit Item") {
  <h1>Edit</h1>

  @helper.form(routes.Application.editItemData()) {
    @helper.inputText(form("id"), '_label -> "ID", '_showConstraints -> false, 'readonly -> "readonly")
    @helper.inputText(form("name"), '_label -> "Name", '_showConstraints -> false)
    @helper.inputText(form("description"), '_label -> "Description", '_showConstraints -> false)
    @helper.inputText(form("maker"), '_label -> "Maker", '_showConstraints -> false)
    @helper.inputText(form("warrentyTime"), '_label -> "Warrenty Time", '_showConstraints -> false)
    @helper.inputText(form("price"), '_label -> "Price", '_showConstraints -> false)
    @helper.inputText(form("discount"), '_label -> "Discount %", '_showConstraints -> false)
    @helper.inputText(form("seller"), '_label -> "Seller", '_showConstraints -> false)
    <button type="submit">Edit Item</button>
  }
}