@(form: Form[Item])(implicit messages: Messages)

@main("Edit Item") {
  @helper.form(routes.Application.editItemData()) {
    @helper.inputText(form("id"), '_label -> "ID", '_showConstraints -> false, 'readonly -> "readonly", 'class -> "form-control")
    @helper.inputText(form("name"), '_label -> "Name", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("description"), '_label -> "Description", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("maker"), '_label -> "Maker", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("warrentyTime"), '_label -> "Warrenty Time", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("price"), '_label -> "Price", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("discount"), '_label -> "Discount %", '_showConstraints -> false, 'class -> "form-control")
    @helper.inputText(form("seller"), '_label -> "Seller", '_showConstraints -> false, 'class -> "form-control")
    </div>
    <button type="submit" class="btn btn-primary">Edit Item</button>
  }
}