@(items: Seq[Item])

@main("Items") {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Maker</th>
        <th>Warrenty</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Seller</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(item <- items) {
        <tr>
          <td>@(item.id)</td>
          <td>@(item.name)</td>
          <td>@(item.description)</td>
          <td>@(item.maker)</td>
          <td>@(item.warrentyTime)</td>
          <td>£@(item.price)</td>
          <td>@(item.discount)%</td>
          <td>@(item.seller)</td>
          <td><a href="/edititem?id=@item.id"><button class="btn btn-primary btn-sm">Edit</button></a></td>
          <td><a href="/deleteitem?id=@item.id"><button class="btn btn-primary btn-sm">Delete</button></a></td>
        </tr>
      }
    </tbody>
  </table>
  <a href="/additem"><button class="btn btn-primary btn-block">Add Item</button></a>
}
